@media (max-width: 1000px) {
    .nav ul { 
        gap: 48px;
    }
}

@media (max-width: 850px) {
    .nav ul { 
        gap: 32px;
    }
}

@media (max-width: 600px) {
    .nav-bar { padding-right: 32px }
    .nav nav { display: none }
    .menu-stack {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 25px;
        height: 20px;
        transition: transform 0.3s;
    }
    .menu-stack:hover {
        transform: scale(1.3);
        color: #fdddb9;
    }

    .menu-stack div {
        border-top: 2.5px solid;
    }
}